<ion-content padding class="BG">
    <div class="content">
        <div myHidden [step]="30" [countTo]="showPrice" [countFrom]="40" [duration]="1" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()" class="img-center" [ngClass]="{'GolImage': showImage}">
            {{counto | currency:'INR':true:'1.2-2'}}</div>
        <div class="row">
            <ion-item style="width: 275px;margin: 0 auto;border-radius: 28px;">
                <ion-label>City</ion-label>
                <ion-select [(ngModel)]="selectedValue">
                    <ion-option *ngFor="let c of countries" [value]="c">{{c}}</ion-option>
                </ion-select>
            </ion-item>
        </div>
        <div class="row fabGroup" style="width: 248px; margin: 0 auto; margin-top: 24px;
        ">
            <div class="col-xs-4" *ngFor="let item of hifuel">
                <ion-fab>
                    <button ion-fab (click)="GetPrice($event, item)" [ngClass]="  {'selectedButton': selectedItem == item , 'custom': true}">{{item}}</button>
                </ion-fab>
            </div>
        </div>
    </div>
</ion-content>
