page-home {
    .selectedButton {
        background-color: #fff !important;
        color: #29828C !important;
    }
    .showPrice {
        color: grey;
        font-size: 45px;
        position: absolute;
        margin: 0 auto;
        display: block;
        text-align: center;
        top: 31%;
        left: 31%;
        background-image: url(../assets/img/gol.png);
    }
    .row {
        margin-right: -15px;
        margin-left: -15px
    }
    .col-xs-4 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }
    .col-xs-4 {
        width: 33.33333333%
    }

    .GolImage{
        background-image: url(../assets/img/1.png);
    }
}
