// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.BG {
    background-image: url("../assets/img/bg.png");
    background-size: cover;
    background-position: right;
}

.img-center {
     margin: 0 auto;
    display: block;
    width: 220px;
    margin-top: 90px;
   /* background-image: url(../assets/img/1.png);*/
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border: 1px solid red; */
    border-radius: 153px;
    text-align: center;
    font-size: 48px;
    color: #fff;
    padding-top: 75px;
    border: 5px solid #fff;
    /* -webkit-filter: blur(5px); */
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    /* filter: blur(5px); */
    -webkit-filter: brightness(78%);
    filter: brightness(78%);
    background-color: #009FA5;
    /* z-index: 999; */
    margin-bottom: 16px;
}

.input-group-lg {
    display: block;
    margin: 0 auto;
    width: 248px;
}

.form-control {
    border-radius: 20px !important;
}

.fabGroup {
    margin: 0 auto;
    width: 248px;
    margin-top: 50px;
    width: 248px;
}

.custom {
    background: transparent;
    border: 2px solid #fff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
